.env
venv
contracts_data
*.log
.vscode
abi.json

__pycache__/
.idea/

openzeppelin/
artifacts/
artifacts*
role_keys*

.DS_Store

csv/
allocator.json
manager.json
pk_file
allocator_provision/info.py

build/
dist/

test-pk.txt
info.csv